html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.navbar {
	margin-bottom: 0px;
}

a.navbar-brand {
	font-family: "Lucida Console", Monaco, monospace;
}

button.btn-default {
	float: right;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
}

#code-container .CodeMirror{
	height: 70%;
}

#result-container .CodeMirror{
	height: 20%;
}


#separator {
	height: 12px;
	/*cursor: row-resize;*/
	padding: 1px;
	/*background: url(http://jsfiddle.net/img/handle-h.png) 50% 3px no-repeat;*/
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #ccc;
}

.error {
    color: red;
}

/*CodeMirror customization:*/

#code-container .CodeMirror-matchingbracket {
	color: orange !important;
	text-decoration: none;
}